<main class="main">
  <div class="inner">
      <% if user_signed_in? %>  
      <div class="greeting">
          <%= link_to "#{current_user.nickname}さん", user_path(current_user), class: :greeting__link%> 
        サークルメンバーに向けておすすめのバド商品を紹介しよう！！
      </div>
      <% end %>  
    <div class="card__wrapper">
     <%= render partial: 'item', collection: @items %>
    </div>
  </div>
</main>
